.about__container {
  display: flex;
  gap: 30px;
  align-items: center;
  background: #fff;
  padding: 40px 20px 40px 20px;
}

.about__text {
  max-width: 600px;
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 700px) {
  .header__searchformtitle {
    max-width: 424px;
    width: 100%;
  }

  .about__container {
    display: flex;
    flex-direction: column;
  }
}
