.input-field {
  border-bottom: 1px solid #000000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;
  padding: 5px 0px;
  font-family: Inter400;
}

.input-field:focus {
  outline: none;
}

label {
  color: #2f71e5;
  font-size: 12px;
  font-family: Inter400;
}

.form__field {
  padding-bottom: 20px;
}

.input-field-error {
  color: #ff0000;
  font-size: 12px;
  font-family: Inter400;
}
