.header__title-container {
  max-width: 712px;
  width: 100%;
}

.header__title {
  margin: 0px;
  padding-top: 20px;
}

.savednewsheader-title {
  color: #1a1b2280;
  opacity: 50%;
}

.savednewsheader-subtitle {
  font-family: Robotoslab;
  font-size: 40px;
  color: #1a1b22;
  max-width: 530px;
  width: 100%;
}

.savednewsheader-text {
  font-family: Roboto700;
  padding-bottom: 30px;
}

.savednewsheader-keywords {
  color: #1a1b22;
  font-family: Roboto, serif;
}
