.cards__container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
}

.card__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 400px);
  grid-auto-flow: row;
  padding-bottom: 10px;
}

/* @media (min-width: 768px) {
  .card__items {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

.card__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
}

.cards__showmore-btn {
  color: #000;
  border-radius: 10px;
  border: none;
  padding: 10px 0 10px 0;
  font-family: Roboto500;
  max-width: 288px;
  width: 100%;
  margin: 0 auto;
}

.card__category-container {
  background-color: #ffffff;
  position: absolute;
  border-radius: 10px;
  top: 22px;
  left: 22px;
  display: flex;
  align-items: center;
  height: 40px;
}

.card__category-text {
  margin: 0;
}

.card__trash-container {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 22px;
  right: 22px;
  background-color: #ffffff;
}
.card__trash-icon {
  padding: 6px 6px 6px 6px;
}
.card__bookmark-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 19px;
  left: 342px;
}
.card__bookmark-icon_active {
  color: #000000;
}

.card__bookmark-icon_inactive {
}

.card__bookmark-icon_inactive:hover {
  cursor: url(../../images/pointer.png), auto;
}
.card__tooltip {
  position: absolute;
  color: red;
}

.card__image-container {
  height: 272px;
}

.card__image {
  height: 100%;
  max-width: 400px;
  width: 100%;
}

.card__date {
  color: #b6bcbf;
  margin: 0px;
}

.card__title {
  margin: 0px;
  font-size: 26px;
  font-family: "Robotoslab";
}

.card__subtitle {
  margin: 0;
  font-size: 16px;
  font-family: Roboto, serif;
}

.card__footer {
  font-family: Robotoslab700, serif;
  font-size: 16px;
  margin: 0px;
  color: #b6bcbf;
}

.noresults-found {
  color: red;
}
