.cards__container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(minmax(300px, 1fr));
  grid-auto-flow: row;
}

.card__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  background: #fff;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.cards__showmore-btn {
  color: #000;
  border-radius: 10px;
  border: none;
  padding: 10px 0 10px 0;
  font-family: Roboto500;
  max-width: 288px;
  width: 100%;
  margin: 0 auto;
}

.card__category-container {
  background-color: #ffffff;
  position: absolute;
  border-radius: 10px;
  top: 22px;
  left: 22px;
  display: flex;
  align-items: center;
  height: 40px;
}

.card__category-text {
  margin: 0;
  padding: 10px;
}

.card__trash-container {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 22px;
  right: 22px;
  background-color: #ffffff;
}
.card__trash-icon {
  padding: 6px 6px 6px 6px;
}

.card__bookmark-container {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 19px;
  left: 314px;
}
.card__bookmark-icon_active {
  position: absolute;
  left: 300px;
  background-image: url("../../images/bookmarkactive.png");
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.card__bookmark-icon_inactive {
  background-image: url("../../images/bookmark.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 40px;
  width: 40px;
}

.card__bookmark-icon_inactive:hover {
  cursor: url(../../images/pointer.png), auto;
}

.bookmark-blue {
  background: url("../../images/bookmarkblue.png") no-repeat;
  height: 40px;
  width: 40px;
}

.tooltip-message {
  display: block;
  width: 182px;
  top: 0px;
  right: 47px;
  position: absolute;
  font-size: 12px;
  background-color: #fff;
  border-radius: 10px;
  font-family: Roboto500;
  text-align: center;
  padding: 14px;
}

.card__image-container {
  height: 272px;
}

.card__image {
  height: 100%;
  width: 100%;
}

.card__date {
  color: #b6bcbf;
  margin: 0px;
}

.card__title {
  margin: 0px;
  font-size: 26px;
  font-family: "Robotoslab";
}

.card__subtitle {
  margin: 0;
  font-size: 16px;
  font-family: Roboto, serif;
}

.card__footer {
  font-family: Robotoslab700, serif;
  font-size: 16px;
  margin: 0px;
  color: #b6bcbf;
}

.noresults-found {
  color: red;
}
/* mobile devices */
@media screen and (min-width: 480px) {
  /* .card__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  } */

  .card__bookmark-icon_active {
    position: absolute;
  }
}
/* tablets */
@media screen and (min-width: 768px) {
  .card__items {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
