.about__container {
  display: flex;
  gap: 30px;
  background: #fff;
  padding: 40px 20px 40px 20px;
  justify-content: center;
}

.about__text {
  max-width: 600px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: column;
  }
}
