.header__searchformtitle {
  color: #fff;
  font-family: Robotoslab;
  font-size: 60px;
  padding: 30px;
  margin: 0 auto;
  max-width: 608px;
  width: 100%;
}

.header__searchformsubtitle {
  margin: 0 auto;
  color: #fff;
  font-family: Roboto, serif;
  padding-bottom: 40px;
  max-width: 608px;
  width: 100%;
}
.header__searchform {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.header__searchbtn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.searchbox__search-btn {
  border-radius: 30px;
  width: 160px;
  color: #ffffff;
  background: #2f71e5;
  font-size: 18px;
  font-family: Roboto, serif;
  padding: 0;
  border: none;
  margin-left: -159px;
}
.searchbox__search-btn:hover {
  background: #347eff;
  cursor: url(../../images/pointer.svg), auto;
}

.searchbox__input-field {
  border-radius: 30px;
  height: 60px;
  max-width: 608px;
  width: 100%;
  font-family: Roboto, serif;
  font-size: 16px;
  border: none;
}

input::placeholder {
  text-align: center;
}

.searchbox__input-field:focus {
  outline: none;
}
.searchbox__input-field-error {
  color: red;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header__searchbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .header__searchform {
    padding-top: 40px;
  }
  .searchbox__input-field {
    width: 288px;
  }
  .searchbox__search-btn {
    height: 60px;
    width: 288px;
    margin: 0 auto;
  }
  .header__searchformtitle {
    font-size: 36px;
    padding: 20px;
    width: 288px;
  }
  .header__searchformsubtitle {
    width: 288px;
    padding-bottom: 40px;
  }
}
