.header__logo-link {
  text-decoration: none;
  font-family: Roboto700;
  color: #000;
  font-size: 20px;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1d2d6;
  padding-left: 20px;
}

.header {
  background-image: url("../../images//headerbg.png");
  height: 576px;
}

.header__logo-notloggedin {
  color: #fff;
  text-decoration: none;
  font-family: Roboto700;
  font-size: 20px;
}

.header__searchform {
  max-width: 608px;
  width: 100%;
  margin: 0 auto;
}
