.main {
  background-color: #f5f6f7;
}

.preloader {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
}

.preloader__text {
  color: #b6bcbf;
}

.preloader__loading-spinner {
  /* border: conic-gradient(
    from 180deg at 50% 50%,
    #1a1b22 0deg,
    rgba(209, 210, 214, 0) 360deg
  ); */

  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 3px solid #b6bcbf;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  height: 74px;
  width: 74px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
